body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    line-height: 1.6;
}

.main{
    height: 100vh;
    width: 100%;
    background: linear-gradient(70deg, #000000, #524f50);
    background-size: cover;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    height: 100px;
    position: sticky;
    box-sizing: border-box;
}

.img_logo{
    display: inline-block;
    padding: 20px;
}

.text_container{
    float: right;
    top: 8%;
    display: inline-block;
    position: relative;
    font-size: 25px;
}

.tex_logo{
    padding: 20px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.tex_logo:hover{
    text-decoration: underline rgba(0, 0, 0, 0.5);
}

.title_box{

    width: 100%;
    height: 50%;
}

.title{
    font-size: 40px;
    height: 50%;
    width: 800px;
    margin: 50px auto 0;
    text-align: center;
}

.subtitle{
    font-size: 15px;
    width: 350px;
    float: right;
    text-align: right;
}

.info_box{
    width: 1400px;
    height: 350px;
}

.view_img{
    display: inline-block;
    float: left;
    background: url("/static/img/goya.jpg") center no-repeat;
    background-size: cover;
    width: 120px;
    height: 220px;
    padding: 40px;
}

.text_block{
    float: top;
    display: inline-block;
    width: 800px;
    margin-top: 7%;
    margin-left: 8%;
    font-size: 20px;
}