body {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
}

.header {
    height: 13.5%;
    width: 100%;
    border-bottom: 1px solid rgb(168, 168, 168);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    color: black;
}

.header_container {
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.img_logo {
    margin-top: 2%;
}

.logo_png {
    background: url('/static/img/bivan.png') center no-repeat;
    background-size: cover;
    width: 90px;
    height: 49px;
}

.text_container {
    word-wrap: break-word;
    margin-top: 2%;
    width: 41%;
    position: relative;
    display: flex;
}

.underline {
    margin: 20px;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.underline:after {
    display: block;
    content: "";
    background-color: #72c3f6;
    height: 3px;
    width: 0;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.underline:hover:after,
.underline:focus:after {
    width: 100%;
}

.text_logo {
    white-space: nowrap;
    font-size: 16px;
    color: #182028;
    text-decoration: none;
    cursor: pointer;
}

.container {
    word-wrap: break-word;
    top: 0;
    margin: 0 auto;
}

.items {
    width: 100%;
    height: 86.5%;
    margin-top: 13.5%;
}